
@font-face {
    font-family: PP Object sans;
    src: url(../fonts/PPObjectSans-Light.8453e0492eaea3833bf667ffd364f738.woff2) format("woff2"),url(../fonts/PPObjectSans-Light.a0471e7f4c9e7d19a08cbd10e994bba8.otf) format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: PP Object sans;
    src: url(../fonts/PPObjectSans-Regular.79665f339605f321a4e896073313b2ef.woff2) format("woff2"),url(../fonts/PPObjectSans-Regular.299c78664915381cc5acd317015da77a.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: PP Object sans;
    src: url(../fonts/PPObjectSans-Medium.14180b088fc4a960a7800d95700c65d8.woff2) format("woff2"),url(../fonts/PPObjectSans-Medium.7ff485de178be51edebb8122a6411002.otf) format("opentype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: PP Object sans;
    src: url(../fonts/PPObjectSans-Bold.9b6f67891c3155b4ece5ba5bde7d1262.woff2) format("woff2"),url(../fonts/PPObjectSans-Bold.1cf35b69a8733581122c64973076b85e.otf) format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: PP Object sans;
    src: url(../fonts/PPObjectSans-Bold.9b6f67891c3155b4ece5ba5bde7d1262.woff2) format("woff2"),url(../fonts/PPObjectSans-Bold.1cf35b69a8733581122c64973076b85e.otf) format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Schnyder M Web;
    src: url(../fonts/SchnyderM-Light-Web.5cb5e894c6a32fdf92596cfbfa848191.woff2) format("woff2"),url(../fonts/SchnyderM-Light-Web.b5eb74b91ac0b75b6afad0340742783c.woff) format("woff");
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    font-display: swap
}

* {
    margin: 0;
}


.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container {
    width:95%;
}

.small-container {
    width:92%;
}

a {
    text-decoration: none;
    font-family: "PP Object sans", sans-serif;
}

nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
}

.navbar-1 {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 10px;
}

.navbar-1-link {
    width:fit-content;
    padding: 0px 15px;
    font-family: "PP Object sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    color: #211a1e;
}
.link-separator {
    width: 1px;
    background-color: #c4c4c4;

}

.navbar-seperator {
    border-bottom: 1px solid #dbdadb;
    width: 100%;
}

.navbar-2 {
    display: flex;
    align-items: center;
    height: 72px;
    flex-wrap: wrap;
}

.link-container {
    display: flex;
    justify-content: space-around;
    width: 33%;
    height: calc(100% - 10px);
    padding-top: 10px;
    padding-left: 10px;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    padding: 0px 16px;
}

.navbar-search { 
    background: #fff url(../image/search-logo.svg) no-repeat scroll 12px;
    background-size: 24px;
    padding-left: 52px;
    padding-right: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 392px;
    height: 48px;
    outline: 0;
    min-height: 40px;
    appearance: none;
    box-sizing: border-box;
    font-family: PP Object sans, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #211a1e;
    background-color: #f4f4f4;
    border: 1px solid transparent;
}

.icon-container {
    width: 80px;
    display: flex;
    justify-content: space-around;
}

.navbar-3 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navbar-link {
    padding: 16px 0px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #211a1e;
}

.navbar-link > a {
    color: #211a1e;
}

.navbar-link:hover {
    border-bottom: 1px solid red;
}

.navbar-link:hover > a {
    color: red;
}

.slider {
    margin-top: 10px;

}

.c-header {
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: "PP Object sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 140%;
}

.carousal {
    width: 100vw;
    max-width: 100%;
    overflow: hidden;
    /*overflow-x: auto;*/
    white-space: nowrap;
}

.carousal-item {
    width: 24%;
    display: inline-block;
    padding: 5px;
}

.carousal-item img {
    width: 100%;
    border-radius: 10px;
}

.carousal-item p {
    margin-top: 12px;
    font-family: PP Object Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #211a1e;
}

.product {
    position: relative;
    border-radius: 8px;
    padding-bottom: 16px;
}

.product-icon {
    position: absolute;
    z-index: 2;
    top: 8px;
    right: 8px;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-brand {
    font-size: 12px !important;
    color: #635e61 !important;
}

.product-name {
    font-weight: 500;
    font-family: PP Object sans, sans-serif;
    font-size: 16px;
    line-height: 160%;
    color: #211a1e;
    margin-top: 4px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 52px;
    white-space: normal !important;
}

.product-varients {
    color: #635e61;
    font-size: 12px;
    line-height: 160%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 26px;
    margin-top: auto;
    padding: 0 16px;
}

.product-varients span {
    padding: 4px 12px;
    border: 1px solid #dbdadb;
    border-radius: 60px;
}

.product-price-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1rem;
    line-height: 160%;
    color: #211a1e;
    margin-top: 8px;
    margin-bottom: 8px;
}

.product-price {
    font-weight: 500 !important;
}

.product-button {
    font-family: PP Object sans, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: black;
    width: 100%;
    color: #fff;
    font-size: 14px;
    line-height: 160%;
    padding: 13px 0;
    text-align: center;
    border-radius: 0 0 8px 8px;
    border: none;
    outline: none;
    cursor: pointer;
    pointer-events: auto;
    margin: auto 0 0 0;
    display: none;
}

.product:hover .product-button{
    display: block;
}
